Plan_Plagne[[:space:]]aime[[:space:]]2000-23-24_0.pdf filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
blabla.aaa filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.aaa filter=lfs diff=lfs merge=lfs -text
*.bla filter=lfs diff=lfs merge=lfs -text
blabla.new filter=lfs diff=lfs merge=lfs -text
